@model PagedList.IPagedList<RptRegister>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Register";
}

<center>
    <h2 class="section-to-print"><b>Search for Customer records</b></h2>
    
    @using (Html.BeginForm("Index", "Register", FormMethod.Post))
    {
        @Html.AntiForgeryToken()


        <div class="form-group">
            @Html.Label("From Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input name="fromdate" type="date" class="form-control text-box single-line valid" id="fromdate" aria-invalid="false" aria-describedby="Date-error" type="text" data-val-number="The field Others 1 must be a number." data-val="true" data-val-range-min="0" data-val-range-max="1.79769313486232E+308" data-val-range="The field Others 1 must be between 0 and 1.79769313486232E+308.">
             
            </div>
        </div>
        <br></br>
        <div class="form-group">
            @Html.Label("To Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input name="todate" type="date" class="form-control text-box single-line valid" id="todate" aria-invalid="false" aria-describedby="Date-error" type="text" data-val-number="The field Others 1 must be a number." data-val="true" data-val-range-min="0" data-val-range-max="1.79769313486232E+308" data-val-range="The field Others 1 must be between 0 and 1.79769313486232E+308.">

            </div>
        </div>
        <br></br>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    }
</center>


