

/* Print only what is needed 
<input type="button" onclick="javascript:window.print();" value="print a div!" /> */

#PrintHeader, #PrintHeader * {
    visibility: hidden;
    display: none;
}


@media print {

    body * {
        visibility: hidden;
    }

    #PrintHeader, #PrintHeader * {
        visibility: visible;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
    }

    .section-to-print, .section-to-print * {
        visibility: visible;
    }

    .section-to-Not-print, .section-to-Not-print* {
        position: absolute;
        left: 0;
        top: 50px;
    }
}
