<link href="https://fonts.googleapis.com/css?family=Bad+Script|Merienda:700" rel="stylesheet">
<link rel="stylesheet" href="~/Content/Print.css" media="print">
<center>
    <table>
        <tr>
            <td>
                <img src="~/Custom/Logo.png" height="110px" />
            </td>
            <td style="text-align:center;">
                <span style="font-family: 'Merienda', cursive; font-weight:bold; font-size:2.3em;">THE FOUR LEAF CLOVER </span><br />
                <span style="font-size:1.1em; text-align:center; font-weight:bold; font-family:'Bad Script', cursive">(Holiday Home)</span><br />
                1751/A, Saipem, Candolim, Bardez Goa, 403515<br />
                Tel.: 9921933339 / 9822933339 / 0832-2407789 / 2461189<br />
                Email: demontehospitality@hotmail.com  <br />
                Website: www.thefourleafclover.in  <br />
                GSTIN NO: 30AAJFD9856G1ZB
            </td>
        </tr>
    </table>
</center>
