@model  DeMonte.BillScreen

@{
    ViewBag.Title = "Details";
}
<div class="section-to-print">
<h2>THE FOUR LEAF CLOVER </h2>
<h4 style="padding-left:100px" ;>(HOLIDAY HOME)</h4>
<h5>1751/A, Saipem, Candolim, Bardez Goa, Phone No. 2407789</h5>
<div>
    <table>
        <tr>
            @*//customer*@
            <td> Name:   @Html.DisplayFor(model => model.Customer.Name)</td>
        </tr>
        @*Bill*@
        <tr>
             <td> NoOfGuest:   @Html.DisplayFor(model => model.Bill.NoOfGuest)</td>
        </tr>
        @*//BillDetail*@
        <tr>
            <td> GST:   @Html.DisplayFor(model => model.BillDetail.GST)</td>
        </tr>
        </table>
</div>
 </div>
<p>
   
    @Html.ActionLink("Back to List", "Index")
    <input type="button" onclick="javascript:window.print();" value="Print" class="eabutton section-to-not-print" />
</p>

